{
    "Projects": [
        {
            "ProjectName": "Nini",
            "ProjectFolder": "Nini",
            "OutputType": "library",
            "ProjectReferences": [
                {
                    "PackageReference": "System.Security.Permissions",
                    "PackageVersion": "4.7.0"
                },
                {
                    "PackageReference": "log4net",
                    "PackageVersion": "2.0.8"
                },
                {
                    "PackageReference": "System.Configuration.ConfigurationManager",
                    "PackageVersion": "4.7.0"
                }
            ],
            "Excludes": [],
            "OutputPath": "../bin"
        },
        {
            "ProjectName": "LibreMetaverse",
            "ProjectFolder": "libremetaverse/LibreMetaverse",
            "OutputType": "library",
            "UnsafeBlocks": true,
            "Framework": "netstandard2.0",
            "ProjectReferences": [
                {
                    "PackageReference": "log4net",
                    "PackageVersion": "2.0.8"
                },
                {
                    "ProjectRef": "../LibreMetaverse.StructuredData/LibreMetaverse.StructuredData.csproj"
                },
                {
                    "ProjectRef": "../LibreMetaverseTypes/LibreMetaverse.Types.csproj"
                },
                {
                    "PackageReference": "System.Drawing.Common",
                    "PackageVersion": "4.7.0"
                },
                {
                    "PackageReference": "log4net",
                    "PackageVersion": "2.0.8"
                },
                {
                    "PackageReference": "Microsoft.Experimental.Collections",
                    "PackageVersion": "1.0.6-e190117-3"
                },
                {
                    "PackageReference": "Microsoft.Extensions.ObjectPool",
                    "PackageVersion": "3.1.1"
                },
                {
                    "PackageReference": "System.Net.Http",
                    "PackageVersion": "4.3.4"
                },
                {
                    "PackageReference": "System.Net.NameResolution",
                    "PackageVersion": "4.3.0"
                },
                {
                    "PackageReference": "System.Threading.Channels",
                    "PackageVersion": "4.7.0"
                },
                {
                    "PackageReference": "XmlRpcCore",
                    "PackageVersion": "3.1.2.77"
                },
                {
                    "PackageReference": "zlib.net-mutliplatform",
                    "PackageVersion": "1.0.4"
                }
            ],
            "Excludes": [],
            "OutputPath": "../../bin"
        },
        {
            "ProjectName": "LibreMetaverse.Types",
            "ProjectFolder": "libremetaverse/LibreMetaverseTypes",
            "OutputType": "library",
            "UnsafeBlocks": true,
            "Framework": "netstandard2.0",
            "ProjectReferences": [
            ],
            "Excludes": [],
            "OutputPath": "../../bin"
        },
        {
            "ProjectName": "LibreMetaverse.StructuredData",
            "ProjectFolder": "libremetaverse/LibreMetaverse.StructuredData",
            "OutputType": "library",
            "Framework": "netstandard2.0",
            "Excludes": [],
            "UnsafeBlocks": true,
            "OutputPath": "../../bin",
            "ProjectReferences": [
                {
                    "ProjectRef": "../LibreMetaverseTypes/LibreMetaverse.Types.csproj"
                }
            ]
        },
        {
            "ProjectName": "LibreMetaverse.Utilities",
            "ProjectFolder": "libremetaverse/LibreMetaverse.Utilities",
            "Excludes": [],
            "Framework": "netstandard2.0",
            "OutputPath": "../../bin",
            "OutputType": "library",
            "ProjectReferences": [
                {
                    "ProjectRef": "../LibreMetaverse.StructuredData/LibreMetaverse.StructuredData.csproj"
                },
                {
                    "ProjectRef": "../LibreMetaverseTypes/LibreMetaverse.Types.csproj"
                },
                {
                    "ProjectRef": "../LibreMetaverse/LibreMetaverse.csproj"
                },
                {
                    "PackageReference": "System.Net.NameResolution",
                    "PackageVersion": "4.3.0"
                }
            ]
        },
      {
        "ProjectName": "ZSim",
        "ProjectFolder": "ZSim/Region/Application",
        "OutputType": "exe",
        "ProjectReferences": [
          
          {
              "PackageReference": "log4net",
              "PackageVersion": "2.0.8"
          },
          {
              "ProjectRef": "../../Framework/ZSim.Framework.csproj"
          },
          {
              "ProjectRef": "../../../Nini/Nini.csproj"
          }
        ],
        "Excludes": [],
        "OutputPath": "../../../bin"
      },
      {
        "ProjectName": "ZSim.Framework",
        "ProjectFolder": "ZSim/Framework",
        "OutputType": "library",
        "ProjectReferences": [
          {
            "ReferenceName": null,
            "ReferencePath": null,
            "PackageReference": "SmartThreadPool.NetCore"
          },
          {
              "PackageReference": "System.Drawing.Common",
              "PackageVersion": "4.7.0"
          },
          {
              "PackageReference": "log4net",
              "PackageVersion": "2.0.8"
          },
          {
              "ProjectRef": "../../libremetaverse/LibreMetaverse/LibreMetaverse.csproj"
          },
          {
              "ProjectRef": "../../libremetaverse/LibreMetaverseTypes/Libremetaverse.Types.csproj"
          },
          {
              "ProjectRef": "../../libremetaverse/LibreMetaverse.Utilities/LibreMetaverse.Utilities.csproj"
          },
          {
              "ProjectRef": "../../libremetaverse/LibreMetaverse.StructuredData/LibreMetaverse.StructuredData.csproj"
          },
          {
              "ProjectRef": "../../Nini/Nini.csproj"
          },
          {
              "ProjectRef": "../../ipnetwork/src/System.Net.IPNetwork/System.Net.IPNetwork.csproj"
          }
        ],
        "Excludes": [
            "Monitoring\\**",
            "Servers\\**",
            "Console\\**",
            "Serialization\\**",
            "AssetLoader\\**",
            "Tests\\**"
        ],
        "OutputPath": "../../bin"
      },
      {
        "ProjectName": "ZSim.Services.Interfaces",
        "ProjectFolder": "ZSim/Services/Interfaces",
        "OutputType": "library",
        "ProjectReferences": [
          {
            "ReferenceName": null,
            "ReferencePath": null,
            "PackageReference": "System.Core"
          },
          {
              "PackageReference": "log4net",
              "PackageVersion": "2.0.8"
          },
          {
              "ProjectRef": "../../../libremetaverse/LibreMetaverse/LibreMetaverse.csproj"
          },
          {
              "ProjectRef": "../../../libremetaverse/LibreMetaverseTypes/Libremetaverse.Types.csproj"
          },
          {
              "ProjectRef": "../../../libremetaverse/LibreMetaverse.Utilities/LibreMetaverse.Utilities.csproj"
          },
          {
              "ProjectRef": "../../../libremetaverse/LibreMetaverse.StructuredData/LibreMetaverse.StructuredData.csproj"
          },
          {
              "ProjectRef": "../../Region/Application/ZSim.csproj"
          }
        ],
        "Excludes": [],
        "OutputPath": "../../../bin"
      },
      {
          "ProjectName": "ZSim.Framework.Monitoring",
          "ProjectFolder": "ZSim/Framework/Monitoring",
          "OutputType": "library",
          "Excludes": [],
          "OutputPath": "../../../bin",
          "UnsafeBlocks": false,
          "ProjectReferences": [
              {
                  "ProjectRef": "../ZSim.Framework.csproj"
              },
              {
                "ProjectRef": "../../../libremetaverse/LibreMetaverse/LibreMetaverse.csproj"
            },
            {
                "ProjectRef": "../../../libremetaverse/LibreMetaverseTypes/Libremetaverse.Types.csproj"
            },
            {
                "ProjectRef": "../../../libremetaverse/LibreMetaverse.Utilities/LibreMetaverse.Utilities.csproj"
            },
            {
                "ProjectRef": "../../../libremetaverse/LibreMetaverse.StructuredData/LibreMetaverse.StructuredData.csproj"
            },
            {
                "PackageReference": "log4net",
                "PackageVersion": "2.0.8"
            }
          ]
      },
      {
          "ProjectName": "ZSim.Framework.Servers.HttpServer",
          "ProjectFolder": "ZSim/Framework/Servers/HttpServer",
          "OutputType": "library",
          "Excludes": [],
          "OutputPath": "../../../../bin",
          "ProjectReferences": [
              {
                  "ProjectRef": "../../ZSim.Framework.csproj"
              },
              {
                  "ProjectRef": "../../Monitoring/ZSim.Framework.Monitoring.csproj"
              },
              {
                "ProjectRef": "../../../libremetaverse/LibreMetaverse/LibreMetaverse.csproj"
            },
            {
                "ProjectRef": "../../../libremetaverse/LibreMetaverseTypes/Libremetaverse.Types.csproj"
            },
            {
                "ProjectRef": "../../../libremetaverse/LibreMetaverse.Utilities/LibreMetaverse.Utilities.csproj"
            },
            {
                "ProjectRef": "../../../libremetaverse/LibreMetaverse.StructuredData/LibreMetaverse.StructuredData.csproj"
            },
            {
                "PackageReference": "log4net",
                "PackageVersion": "2.0.8"
            },
            {
                "ReferenceName": null,
                "ReferencePath": null,
                "PackageReference": "SmartThreadPool.NetCore"
              },
              {
                "PackageReference": "XmlRpcCore",
                "PackageVersion": "3.1.2.77"
            }
          ]
      },
      {
          "ProjectName": "ZSim.Framework.Console",
          "OutputPath": "../../../bin",
          "OutputType": "library",
          "ProjectFolder": "ZSim/Framework/Console",
          "Excludes": [],
          "ProjectReferences": [
            {
                "ProjectRef": "../../../libremetaverse/LibreMetaverseTypes/Libremetaverse.Types.csproj"
            },
            {
                "PackageReference": "log4net",
                "PackageVersion": "2.0.8"
            },
            {
                "ProjectRef": "../../../Nini/Nini.csproj"
            },
            {
                "ProjectRef": "../ZSim.Framework.csproj"
            },
            {
                "ProjectRef": "../Servers/HttpServer/ZSim.Framework.Servers.HttpServer.csproj"
            }
        ]
      },
      {
          "Excludes": [],
          "OutputPath": "../../../bin",
          "OutputType": "library",
          "ProjectFolder": "ZSim/Framework/Serialization",
          "ProjectName": "ZSim.Framework.Serialization",
          "ProjectReferences": [
            {
                "PackageReference": "log4net",
                "PackageVersion": "2.0.8"
            },
            {
                "ProjectRef": "../ZSim.Framework.csproj"
            },
            {
                "ProjectRef": "../../Services/Interfaces/ZSim.Services.Interfaces.csproj"
            },
            {
                "ProjectRef": "../../../libremetaverse/LibreMetaverseTypes/Libremetaverse.Types.csproj"
            },
            {
                "ProjectRef": "../../../libremetaverse/LibreMetaverse/Libremetaverse.csproj"
            }
          ]
      },
      {
          "ProjectName": "ZSim.Data",
          "ProjectFolder": "ZSim/Data",
          "ProjectReferences": [
            {
                "PackageReference": "log4net",
                "PackageVersion": "2.0.8"
            },
            {
                "ProjectRef": "../Framework/ZSim.Framework.csproj"
            },
            {
                "ProjectRef": "../../libremetaverse/LibreMetaverseTypes/Libremetaverse.Types.csproj"
            },
            {
                "ProjectRef": "../../libremetaverse/LibreMetaverse/Libremetaverse.csproj"
            },
            {
                "ProjectRef": "../../libremetaverse/LibreMetaverse.StructuredData/Libremetaverse.StructuredData.csproj"
            },
            {
                "PackageReference": "XmlRpcCore",
                "PackageVersion": "3.1.2.77"
            }
          ],
          "Excludes": [],
          "OutputPath": "../../bin",
          "OutputType":"library"
      },
      {
          "ProjectName": "ZSim.Framework.AssetLoader.Filesystem",
          "ProjectFolder": "ZSim/Framework/AssetLoader/Filesystem",
          "OutputPath": "../../../../bin",
          "OutputType": "library",
          "Excludes": [],
          "ProjectReferences": [
            {
                "PackageReference": "log4net",
                "PackageVersion": "2.0.8"
            },
            {
                "ProjectRef": "../../../../libremetaverse/LibreMetaverseTypes/Libremetaverse.Types.csproj"
            },
            {
                "ProjectRef": "../../ZSim.Framework.csproj"
            },
            {
                "ProjectRef": "../../Console/ZSim.Framework.Console.csproj"
            },
            {
                "ProjectRef": "../../../../Nini/Nini.csproj"
            }
          ]
      },
      {
          "ProjectName": "ZSim.Framework.Servers",
          "ProjectFolder": "ZSim/Framework/Servers",
          "OutputPath": "../../../bin",
          "OutputType":"library",
          "Excludes":[
              "HttpServer\\**"
          ],
          "ProjectReferences":[
              {
                  "ProjectRef": "../../Data/ZSim.Data.csproj"
              },
              {
                  "ProjectRef": "../ZSim.Framework.csproj"
              },
              {
                  "ProjectRef": "HttpServer/ZSim.Framework.Servers.HttpServer"
              },
              {
                  "ProjectRef": "../Console/ZSim.Framework.Console.csproj"
              },
              {
                  "ProjectRef": "../Monitoring/ZSim.Framework.Monitoring.csproj"
              },
              {
                  "ProjectRef": "../../../libremetaverse/LibreMetaverse.StructuredData/LibreMetaverse.StructuredData.csproj"
              },
              {
                  "ProjectRef": "../../../libremetaverse/LibreMetaverseTypes/LibreMetaverse.Types.csproj"
              },
              {
                  "ProjectRef": "../../../Nini/Nini.csproj"
              },
              {
                "PackageReference": "log4net",
                "PackageVersion": "2.0.8"
              },
              {
                "PackageReference": "XmlRpcCore",
                "PackageVersion": "3.1.2.77"
              }
          ]
      },
      {
          "ProjectName": "System.Net.IPNetwork",
          "ProjectFolder": "ipnetwork/src/System.Net.IPNetwork",
          "OutputPath": "../../../bin",
          "Framework": "netstandard2.0",
          "Excludes": [],
          "OutputType":"library",
          "ProjectReferences":[
              {
                  "PackageReference": "System.Runtime.Serialization.Primitives",
                  "PackageVersion": "4.3.0"
              },
              {
                "PackageReference": "System.Runtime.Serialization.Formatters",
                "PackageVersion": "4.3.0"
            },
            {
                "PackageReference": "System.Runtime.Numerics",
                "PackageVersion": "4.3.0"
            }
          ]
      },
      {
          "ProjectName": "ZSim.Capabilities",
          "ProjectFolder": "ZSim/Capabilities",
          "OutputPath": "../../bin",
          "OutputType":"library",
          "ProjectReferences": [
              {
                "ProjectRef": "../Framework/ZSim.Framework.csproj"
              },
              {
                  "ProjectRef": "../Framework/Monitoring/ZSim.Framework.Monitoring.csproj"
              },
              {
                  "ProjectRef": "../Framework/Servers/ZSim.Framework.Servers.csproj"
              },
              {
                  "ProjectRef": "../Framework/Servers/HttpServer/ZSim.Framework.Servers.HttpServer.csproj"
              },
              {
                  "ProjectRef": "../Services/Interfaces/ZSim.Services.Interfaces.csproj"
              },
              {
                  "ProjectRef": "../../libremetaverse/LibreMetaverse/LibreMetaverse.csproj"
              },
              {
                  "ProjectRef": "../../libremetaverse/LibreMetaverseTypes/LibreMetaverse.Types.csproj"
              },
              {
                  "ProjectRef": "../../Nini/Nini.csproj"
              },
              {
                "PackageReference": "log4net",
                "PackageVersion": "2.0.8"
              }
          ],
          "Excludes": []
      },
      {
          "ProjectName": "ZSim.Region.PhysicsModules.SharedBase",
          "ProjectFolder": "ZSim/Region/PhysicsModules/SharedBase",
          "Excludes": [],
          "OutputPath": "../../../../bin",
          "OutputType":"library",
          "ProjectReferences":[
              {
                "ProjectRef": "../../../../libremetaverse/LibreMetaverseTypes/Libremetaverse.Types.csproj"
              },
              {
                  "ProjectRef": "../../../Framework/ZSim.Framework.csproj"
              },
              {
                  "ProjectRef": "../../../Framework/Console/ZSim.Framework.Console.csproj"
              },
              {
                  "ProjectRef": "../../../../Nini/Nini.csproj"
              },
              {
                  "PackageReference": "log4net",
                  "PackageVersion": "2.0.8"
              }
          ] 
      },
      {
          "ProjectName": "ZSim.Region.Framework",
          "ProjectFolder": "ZSim/Region/Framework",
          "OutputPath": "../../../bin",
          "OutputType":"library",
          "Excludes":[],
          "ProjectReferences":[
              
            {
                "PackageReference": "System.Drawing.Common",
                "PackageVersion": "4.7.0"
            },
            {
                "ProjectRef": "../../../libremetaverse/LibreMetaverseTypes/LibreMetaverse.Types.csproj"
            },
            {
                "ProjectRef": "../../../libremetaverse/LibreMetaverse.StructuredData/LibreMetaverse.StructuredData.csproj"
            },
            {
                "ProjectRef": "../../../libremetaverse/LibreMetaverse/LibreMetaverse.csproj"
            },
            {
                "ProjectRef": "../../Services/Interfaces/ZSim.Services.Interfaces.csproj"
            },
            {
                "ProjectRef": "../../Framework/ZSim.Framework.csproj"
            },
            {
                "ProjectRef": "../../Capabilities/ZSim.Capabilities.csproj"
            },
            {
                "ProjectRef": "../../Data/ZSim.Data.csproj"
            },
            {
                "ProjectRef": "../../Framework/Console/ZSim.Framework.Console.csproj"
            },
            {
                "ProjectRef": "../../Framework/Serialization/ZSim.Framework.Serialization.csproj"
            },
            {
                "ProjectRef": "../../Framework/Servers/ZSim.Framework.Servers.csproj"
            },
            {
                "ProjectRef": "../../Framework/Servers/HttpServer/ZSim.Framework.Servers.HttpServer.csproj"
            },
            {
                "ProjectRef": "../PhysicsModules/SharedBase/ZSim.Region.PhysicsModules.SharedBase.csproj"
            },
            {
                "ProjectRef": "../../../Nini/Nini.csproj"
            },
            {
                "PackageReference": "log4net",
                "PackageVersion": "2.0.8"
            },
            {
                "PackageReference": "XmlRpcCore",
                "PackageVersion": "3.1.2.77"
            }

          ]
      },
      {
          "ProjectName": "ZSim.Server.Base",
          "ProjectFolder": "ZSim/Server/Base",
          "Excludes": [],
          "OutputPath": "../../../bin",
          "OutputType":"library",
          "ProjectReferences":[
              {
                "ProjectRef": "../../../libremetaverse/LibreMetaverse.StructuredData/LibreMetaverse.StructuredData.csproj"
              },
              {
                  "ProjectRef": "../../../libremetaverse/LibreMetaverseTypes/LibreMetaverse.Types.csproj"
              },
              {
                  "ProjectRef": "../../../libremetaverse/LibreMetaverse/Libremetaverse.csproj"
              },
              {
                  "ProjectRef": "../../Framework/ZSim.Framework.csproj"
              },
              {
                  "ProjectRef": "../../Framework/Console/ZSim.Framework.Console.csproj"
              },
              {
                  "ProjectRef": "../../Framework/Servers/HttpServer/ZSim.Framework.Servers.HttpServer.csproj"
              },
              {
                  "ProjectRef": "../../Framework/Servers/ZSim.Framework.Servers.csproj"
              },
              {
                  "ProjectRef": "../../Framework/Monitoring/ZSim.Framework.Monitoring.csproj"
              },
              {
                  "ProjectRef": "../../../Nini/Nini.csproj"
              },
              {
                  "PackageReference": "log4net",
                  "PackageVersion": "2.0.8"
              }
          ]
      },
      {
          "ProjectName": "ZSim.Services.Base",
          "ProjectFolder": "ZSim/Services/Base",
          "Excludes":[],
          "OutputPath": "../../../bin",
          "OutputType": "library",
          "ProjectReferences": [
              {
                  "ProjectRef": "../../../libremetaverse/LibreMetaverseTypes/LibreMetaverse.Types.csproj"
              },
              {
                  "ProjectRef": "../../../libremetaverse/LibreMetaverse/LibreMetaverse.csproj"
              },
              {
                  "ProjectRef": "../../Framework/ZSim.Framework.csproj"
              },
              {
                  "ProjectRef": "../../Framework/Console/ZSim.Framework.Console.csproj"
              },
              {
                  "ProjectRef": "../Interfaces/ZSim.Services.Interfaces.csproj"
              },
              {
                  "ProjectRef": "../../../Nini/Nini.csproj"
              },
              {
                  "PackageReference": "log4net",
                  "PackageVersion": "2.0.8"
              }
          ]
      },
      {
          "ProjectName": "ZSim.Services.UserAccountService",
          "ProjectFolder": "ZSim/Services/UserAccountService",
          "Excludes": [],
          "OutputPath": "../../../bin",
          "OutputType":"library",
          "ProjectReferences":[
              {
                  "ProjectRef": "../../../libremetaverse/LibreMetaverseTypes/Libremetaverse.Types.csproj"
              },
              {
                  "ProjectRef": "../../../libremetaverse/LibreMetaverse/Libremetaverse.csproj"
              },
              {
                  "ProjectRef": "../../Framework/ZSim.Framework.csproj"
              },
              {
                  "ProjectRef": "../../Framework/Console/ZSim.Framework.Console.csproj"
              },
              {
                  "ProjectRef": "../../Framework/Servers/HttpServer/ZSim.Framework.Servers.HttpServer.csproj"
              },
              {
                  "ProjectRef": "../Interfaces/ZSim.Services.Interfaces.csproj"
              },
              {
                  "ProjectRef": "../Base/ZSim.Services.Base.csproj"
              },
              {
                  "ProjectRef": "../../Data/ZSim.Data.csproj"
              },
              {
                  "ProjectRef": "../../../Nini/Nini.csproj"
              },
              {
                  "PackageReference": "log4net",
                  "PackageVersion": "2.0.8"
              }
          ]
      },
      {
          "ProjectName": "ZSim.Services.FriendsService",
          "ProjectFolder": "ZSim/Services/Friends",
          "OutputPath": "../../../bin",
          "OutputType":"library",
          "Excludes":[],
          "ProjectReferences":[
              {
                  "ProjectRef": "../../../libremetaverse/LibreMetaverseTypes/LibreMetaverse.Types.csproj"
              },
              {
                  "ProjectRef": "../../../libremetaverse/LibreMetaverse/Libremetaverse.csproj"
              },
              {
                  "ProjectRef": "../../Framework/ZSim.Framework.csproj"
              },
              {
                  "ProjectRef": "../../Framework/Console/ZSim.Framework.Console.csproj"
              },
              {
                  "ProjectRef": "../../Framework/Servers/HttpServer/ZSim.Framework.Servers.HttpServer.csproj"
              },
              {
                  "ProjectRef": "../Interfaces/ZSim.Services.Interfaces.csproj"
              },
              {
                  "ProjectRef": "../Base/ZSim.Services.Base.csproj"
              },
              {
                  "ProjectRef": "../../Data/ZSim.Data.csproj"
              },
              {
                  "ProjectRef": "../../../Nini/Nini.csproj"
              },
              {
                  "PackageReference": "log4net",
                  "PackageVersion": "2.0.8"
              }
          ]
      }
    ],
    "SolutionName": "ZSim"
  }